{
  "id": "{{ env_id }}",
  "name": "{{ env_name }}",
  "values": [
    {
      "key": "base_url",
      "value": "{{ base_url }}",
      "enabled": true
    }
  ],
  "_postman_variable_scope": "environment"
}
